///*----------------------------------*\
//  #GLOBAL
//\*----------------------------------*/

// Project-level settings and setup.

// Base typographical styles and baseline grid.
$base-font-size:    		16px !default;
$base-line-height:  		24px !default;

$base-sans-serif:			'Lato', Helvetica, 'Helvetica Neue', Arial, sans-serif !default; 
$base-serif:				'PT Serif', Georgia, 'Times New Roman', serif !default;


// Standardise some UI treatments.
$base-radius:       		3px !default;
$base-transition:   		0.333333333s !default;


// Base grid
$base-gutter:				30px;
$grid-columns: 				12;


// Base spacing
$base-spacing-unit:       	round($base-line-height);
$base-spacing-unit-tiny:  	round($base-spacing-unit / 4);
$base-spacing-unit-small: 	round($base-spacing-unit / 2);
$base-spacing-unit-large: 	round($base-spacing-unit * 2);
$base-spacing-unit-huge:  	round($base-spacing-unit * 4);


// Breakpoints
$mq-breakpoints: (
    xs: 480px,  // Extra Small devices (landscape phones, 480px and up)
    s: 	670px,
    sm: 768px,  // Small devices (tablets, 768px and up)
    md: 950px, // Medium devices (desktops, 1024px and up)
    lg: 1200px // Large devices (desktops, 1200px and up)
);