@import "settings/all"; 

@import "tools/all";


/**
 * Brio Helper CSS
 */

/* Shortcodes */
.brio-half {
    width: 100%;
    margin-bottom: 24px;
}

.bh-left {
    @include mq($from: sm) {
        float: left;
        padding-right: $base-spacing-unit-small;
    }
}

.bh-right {
    @include mq($from: sm) {
        float: right;
        padding-left: $base-spacing-unit-small;
    }
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.bh-social-icons a {
    margin: 0 6px;
}

.social-links li {
    padding-left: 5px;
}

/* Share */

.post--single .brio-social-share {
    margin-bottom: 24px;
}

/* Author */

.post-author-bio {
    padding-bottom: 24px;
    margin-bottom: 24px;
    /*border-top: 1px solid #eee;*/
    border-bottom: 1px solid #eee;
}

.post-author-bio p {
    font-size: 14px;
}

.author-links li {
    margin-right: 6px;
}

/* Related Posts */

.related-posts {
    border-bottom: 1px solid #eee;
    margin-bottom: 24px;
}

.c-posts .o-grid__item:last-of-type .related-posts {
    border: 0;
}

.related-posts .thumbnail-wrapper {
    margin-bottom: 12px;
    display: block;
}

/* Featured Cat Posts
===================================== */

.featured-cat-posts {
  text-align: center;
  display: none;
}

.feat-cat-post__title-link {
  color: inherit!important;
  font-weight: 400;
}

.feat-cat-post__image {
    margin-bottom: 18px;
}

@media screen and (min-width: 41.875em) {
    .featured-cat-posts {
        display: block;
    }
}

/* Widgets 
====================================== */

/* Profile Widget */

.profile-image {
    margin-bottom: 12px;
}

/* Instagram Widget */

.c-feed-wrap {
    position: relative;
}

.bhig {
    list-style: none!important;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
}

.bhig-follow {
    text-align: center;
    display: block;
}

.bhig:after {
    content: "";
    display: table;
    clear: both;
}

.bhig li {
   // float: left;
    line-height: 0;
}

.bhig__item a,
.widget-post a {
    backface-visiblity: hidden;
}

/* Popular posts */

.widget-post {
    margin-bottom: 15px!important;
}

.brio-widget-posts:after {
  content: "";
  display: table;
  clear: both;
} 

.widget-post .thumbnail-wrapper {
    margin-bottom: 12px;
}

.widget-post-textbox {
    background: rgba(255,255,255,0.9);
    text-align: center;
    padding: 15px;
}

.widget-post a {
    border-bottom: 0;
}

.widget-post__text {
    padding-left: 2px!important;
}

.widget-post__title,
.widget-post p {
    margin-bottom: 0;
}

.widget-post__title a {
    color: inherit;
    font-weight: 400;
}

.widget-post.o-text-image .widget-post__title {
    font-weight: 700;
}

.widget-post__comments-link {
    font-size: 14px;
}

.widget-post__image-link {
    display: block;
    margin-bottom: 10px;
}

/* Post Likes */

.sl-wrapper a {
	border-bottom: 0 !important;
	text-decoration: none !important;
}
/*.sl-button {
	padding: 0.375em 0.625em;
	font-size: 1em;
	line-height: 1;
	font-weight: normal;
}*/

.sl-button .fa {
  margin-right: 5px;
}

/* Colors */
.sl-button.liked {
	color: #da1b1b;
}
.sl-button.liked:hover,
.sl-button.liked:active,
.sl-button.liked:focus {
	color: #666666;
}
.sl-button.liked span.sl-count,
.sl-count {
	color: #666666;
}



/* Loader */
.loader,
.loader:before,
.loader:after {
    background: rgba(0, 0, 0, 0.2);
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: .2em;
    height: .6em;
}
.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}
.loader:before {
    left: -.375em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader {
    text-indent: -9999em;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    font-size: 1em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loader:after {
    left: .375em;
}
@-webkit-keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0 rgba(0, 0, 0, 0.2);
        height: .6em;
    }
    40% {
        box-shadow: 0 -.3em rgba(0, 0, 0, 0.2);
        height: 1em;
    }
}
@keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0 rgba(0, 0, 0, 0.2);
        height: .6em;
    }
    40% {
        box-shadow: 0 -.3em rgba(0, 0, 0, 0.2);
        height: 1em;
    }
}

/* Widths
====================================== */

.bh-col-1 {
    width: 100% !important;
    flex-basis: 100% !important;
}

.bh-col-2 {
    width: 50% !important;
    flex-basis: 50% !important;
}

.bh-col-3 {
    width: 33.333% !important;
    flex-basis: 33.333% !important;
}

.bh-col-4 {
    width: 25% !important;
    flex-basis: 25% !important;
}

.bh-col-5 {
    width: 20% !important;
    flex-basis: 20% !important;
}

.bh-col-6 {
    width: 16.66667% !important;
    flex-basis: 16.66667% !important;
}

.bh-col-7 {
    width: 14.28% !important;
    flex-basis: 14.28% !important;
}

.bh-col-8 {
    width: 12.5% !important;
    flex-basis: 12.5% !important;
}

.bh-col-9 {
    width: 11.111% !important;
    flex-basis: 11.111% !important;
}

@include mq($from: md) {

    .bh-col-1\@md {
        width: 100% !important;
        flex-basis: 100% !important;
    }

    .bh-col-2\@md {
        width: 50% !important;
        flex-basis: 50% !important;
    }

    .bh-col-3\@md {
        width: 33.333% !important;
        flex-basis: 33.333% !important;
    }

    .bh-col-4\@md {
        width: 25% !important;
        flex-basis: 25% !important;
    }

    .bh-col-5\@md {
        width: 20% !important;
        flex-basis: 20% !important;
    }

    .bh-col-6\@md {
        width: 16.66667% !important;
        flex-basis: 16.66667% !important;
    }
}

@include mq($from: s) {

    .bh-col-1\@s {
        width: 100% !important;
        flex-basis: 100% !important;
    }

    .bh-col-2\@s {
        width: 50% !important;
        flex-basis: 50% !important;
    }

    .bh-col-3\@s {
        width: 33.333% !important;
        flex-basis: 33.333% !important;
    }

    .bh-col-4\@s {
        width: 25% !important;
        flex-basis: 25% !important;
    }

    .bh-col-5\@s {
        width: 20% !important;
        flex-basis: 20% !important;
    }

    .bh-col-6\@s {
        width: 16.66667% !important;
        flex-basis: 16.66667% !important;
    }
}

@include mq($from: xs) {

    .bh-col-1\@xs {
        width: 100% !important;
        flex-basis: 100% !important;
    }

    .bh-col-2\@xs {
        width: 50% !important;
        flex-basis: 50% !important;
    }

    .bh-col-3\@xs {
        width: 33.333% !important;
        flex-basis: 33.333% !important;
    }

    .bh-col-4\@xs {
        width: 25% !important;
        flex-basis: 25% !important;
    }

    .bh-col-5\@xs {
        width: 20% !important;
        flex-basis: 20% !important;
    }

    .bh-col-6\@xs {
        width: 16.66667% !important;
        flex-basis: 16.66667% !important;
    }
}

@include mq($until: s) {
    .bhig.mobile .bh-col-8 {
        width: 25% !important;
        flex-basis: 25% !important;
    }

    .bhig.mobile .bh-col-9 {
        width: 33.3333% !important;
        flex-basis: 33.3333% !important;
    }
}